
.bg-color-light-blue {
 background-color: var(--color-light-blue)
}
.bg-color-green {
 background-color: var(--color-green);
}
.bg-color-white {
 background-color: var(--color-white);
}
.bg-color-light-blue-2 {
 background-color: var(--color-light-blue-2);
}
.bg-color-light-grey {
 background-color: var(--color-light-grey);
}

.color-white {
 color: var(--color-white);
}
.color-light-grey {
 color: var(--color-light-grey);
}
.color-green {
 color: var(--color-green);
}
.color-red {
  color: var(--color-red);
}
.color-pink {
 color: var(--pink);
}
.color-light-blue-2 {
 color: var(--color-light-blue-2);
}
.color-darken-blue {
 color: var(--color-darken-blue);
}
