/*использовать классы tailwindui для отступов*/
/*и похоже надо будет добавлять свои классы для них в tailwind.config*/
/*потому что они задаются в rem*/

.p-5 {
  padding: 5px;
}

.p-l-3 {
  padding-left: 3px;
}

.p-b-5 {
  padding-bottom: 5px;
}

.p-r-6 {
  padding-right: 6px;
}
.p-l-6 {
  padding-left: 6px;
}
.p-t-6 {
  padding-top: 6px;
}
.p-b-6 {
  padding-bottom: 6px;
}


.p-r-8 {
  padding-right: 8px;
}
.p-l-8 {
  padding-left: 8px;
}
.p-t-8 {
  padding-top: 8px;
}
.p-b-8 {
  padding-bottom: 8px;
}

.p-l-12 {
  padding-left: 12px;
}

.p-r-14 {
  padding-right: 14px;
}
.p-l-14 {
  padding-left: 14px;
}
.p-t-14 {
  padding-top: 14px;
}
.p-b-14 {
  padding-bottom: 14px;
}

.p-r-15 {
  padding-right: 15px;
}
.p-l-15 {
  padding-left: 15px;
}
.p-t-15 {
  padding-top: 15px;
}
.p-b-15 {
  padding-bottom: 15px;
}

.p-r-16 {
  padding-right: 16px;
}
.p-l-16 {
  padding-left: 16px;
}
.p-t-16 {
  padding-top: 16px;
}
.p-b-16 {
  padding-bottom: 16px;
}

.p-r-18 {
  padding-right: 18px;
}
.p-l-18 {
  padding-left: 18px;
}
.p-t-18 {
  padding-top: 18px;
}
.p-b-18 {
  padding-bottom: 18px;
}

.p-r-24 {
  padding-right: 24px;
}
.p-l-24 {
  padding-left: 24px;
}

.p-t-24 {
  padding-top: 24px;
}
.p-b-24 {
  padding-bottom: 24px;
}

.p-b-25 {
  padding-bottom: 25px;
}

.p-l-32 {
  padding-left: 32px;
}
.p-r-32 {
  padding-right: 32px;
}


.m-t-3 {
  margin-top: 3px;
}
.m-b-3 {
  margin-bottom: 3px;
}
.m-r-3 {
  margin-right: 3px;
}
.m-l-3 {
  margin-left: 3px;
}

.m-l-8 {
  margin-left: 8px;
}
.m-r-8 {
  margin-right: 8px;
}
.m-t-8 {
  margin-top: 8px;
}
.m-b-8 {
  margin-bottom: 8px;
}

.m-l-10 {
  margin-left: 10px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-b-10 {
  margin-bottom: 10px;
}

.m-t-16 {
  margin-top: 16px;
}
.m-b-16 {
  margin-bottom: 16px;
}
.m-r-16 {
  margin-right: 16px;
}
.m-l-16 {
  margin-left: 16px;
}

.m-b-24 {
  margin-bottom: 24px;
}
.m-t-24 {
  margin-top: 24px;
}
.m-r-24 {
  margin-right: 24px;
}
.m-l-24 {
  margin-left: 24px;
}

.m-b-50 {
  margin-bottom: 50px;
}
.m-t-50 {
  margin-top: 50px;
}
.m-r-50 {
  margin-right: 50px;
}
.m-l-50 {
  margin-left: 50px;
}

.m-l-a {
  margin-left: auto;
}


