@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    font-size: 14px;
}
button, select {
    text-transform: inherit;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    height: 100%;
    letter-spacing: 0.01em;
    line-height: 1;
    font-weight: 400;
    color: var(--color-darken-blue);
    background: var(--color-light-grey);
    font-family: var(--font);
}

#root, .flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#root, .flex-container.hidden {
    overflow: hidden;
}

:root {
    --font: "Nunito", sans-serif;

    --color-blue: #009BF6;
    --color-blue-hover-gradient: linear-gradient(#0095EC, #0095EC);
    --color-blue-hover: #0095EC;
    --color-light-blue: #F2F9FF;
    --color-light-blue-2: #56809F;
    --color-darken-blue: #0C2B3E;
    --color-darken-blue-2: #334D6E;

    --color-light-grey: #F4F6FA;
    --color-light-grey-2: #EBEFF2;
    --color-light-grey-hover: #E9ECF1;

    --color-white: #ffffff;

    --color-red: #FF3737;

    --color-green: #2ED47A;

    --pink: #FF7979;

    --color-black-darken-1: #333333;

    --grey-gradient: linear-gradient(89.43deg, #000000 0.12%, rgba(0, 0, 0, 0) 99.82%);
    --active-gradient: linear-gradient(94.2deg, #009BF6 0%, #3DC0FA 100%);

    --validation-color: var(--pink);
    --flex-input: 1 1 auto;
    --width-input: 100%;
    --border-color-input: var(--color-light-grey-2);
    --border-radius-input: 6px;
    --background-input: var(--color-light-grey);
    --height-input: 40px;
    --padding-input: 8px 10px;
    --text-aling-input: left;
    --plachodler-font-size: 14px;
    --input-placeholder-color: var(--color-light-blue-2);
    --input-disabled-color: var(--color-red);
    --validation-error-border-b: 1px solid var(--pink);

    --check-box-size: 24px;
    --check-box-checked-bg: var(--color-blue);
    --check-box-un-checked-bg: transparent;
    --check-box-disabled-border: var(--pink);
    --switch-border-color: transparent;

    --padding-toggle-icon-select: 0 15px 0 6px;

    --indent-bottom-for-form: 20px;
    --max-height-input: unset;

    --height-button: 53px;

}

.border-list {
    border-bottom: 1px solid var(--color-light-grey-2);
}

.border-top {
    border-top: 1px solid var(--color-light-grey-2);
}

.border-radius-4 {
    border-radius: 4px;
}

 /*стили скролла*/

.ps__rail-y {
    width: 6px;
    display: block;
    opacity: 0;
    border: 0;
    right: 0;
}
.ps__rail-y:hover {
    background-color: transparent;
}
.ps__rail-y.ps--clicking {
    background-color: transparent;
}
.ps__rail-y:hover > .ps__thumb-y {
    width: 6px;
    background: var(--color-black-darken-1);
    opacity: 1;
}
.ps__thumb-y {
    width: 6px;
    background: var(--color-black-darken-1);
    right: 0;
}
.ps__thumb-y:hover {
    width: 6px;
    background: var(--color-black-darken-1);
}
.ps__rail-y {
    padding-right: 8px;
}

/*flex-col*/
/* w-full - w-100*/
/*pos-relative - relative*/
/*a-i-center - items-center*/
/*no-white-space - whitespace-nowrap*/
/* no-pointer-events - pointer-events-auto */
/* flex-full-with - flex-auto*/
/* jc-fe - justify-end*/

.icon-navigation-drawer path {
    fill: var(--color-light-blue-2);
}

.no-user-select {
    user-select: none;
}

h1 {
    font-size: 24px;
    color: var(--color-darken-blue-2);
    font-weight: 700;
}

.cursor {
    cursor: pointer;
    transition: all .2s ease 0s;
}


.pointer-events-all {
    pointer-events: all;
}

*,
::before,
::after {
    box-sizing: border-box;
}
::before,
::after {
    text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
    vertical-align: inherit;
}
* {
    background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements */
    padding: 0; /* Reset `padding` and `margin` of all elements */
    margin: 0;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
hr {
    overflow: visible; /* Show the overflow in Edge and IE */
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}
a {
    background-color: transparent; /* Remove the gray background on active links in IE 10 */
    -webkit-text-decoration-skip: objects; /* Remove gaps in links underline in iOS 8+ and Safari 8+ */
    text-decoration: none;
}
a:active,
a:hover {
    outline-width: 0; /* Remove the outline when hovering in all browsers */
    color: var(--color-blue);
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace; /* Specify the font family of code elements */
}
b,
strong {
    font-weight: bolder; /* Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+ */
}
dfn {
    font-style: italic; /* Address styling not present in Safari and Chrome */
}
mark {
    background-color: #ff0;
    color: #000;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
input {
    border-radius: 0;
}
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
    cursor: pointer;
}
[disabled] {
    cursor: default;
}
[type="number"] {
    width: auto; /* Firefox 36+ */
}
[type="search"] {
    -webkit-appearance: textfield; /* Safari 8+ */
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; /* Safari 8 */
}
textarea {
    overflow: auto; /* Internet Explorer 11+ */
    resize: none; /* Specify textarea resizability */
}
button,
input,
optgroup,
select,
textarea {
    font: inherit; /* Specify font inheritance of form elements */
}
input:focus-visible {
    outline: none;
}

optgroup {
    font-weight: bold; /* Restore the font weight unset by the previous rule. */
}
button {
    overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
      border-style: none;
      padding: 0;
  }
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    outline: 0;
    border: 0;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}
button,
select {
    text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

input,
select,
textarea {
    background-color: transparent;
    border-style: none;
    color: inherit;
}
button {
    background-color: transparent;
    border-style: none;
    color: inherit;
}
select {
    -moz-appearance: none; /* Firefox 36+ */
    -webkit-appearance: none; /* Chrome 41+ */
}
select::-ms-expand {
    display: none; /* Internet Explorer 11+ */
}
select::-ms-value {
    color: currentColor; /* Internet Explorer 11+ */
}
legend {
    border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
    color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
    display: table; /* Correct the text wrapping in Edge and IE */
    max-width: 100%; /* Correct the text wrapping in Edge and IE */
    white-space: normal; /* Correct the text wrapping in Edge and IE */
}
::-webkit-file-upload-button {
    -webkit-appearance: button; /* Correct the inability to style clickable types in iOS and Safari */
    font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}
[type="search"] {
    -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
    outline-offset: -2px; /* Correct the outline style in Safari */
}
img {
    border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}
progress {
    vertical-align: baseline;
}
svg:not(:root) {
    overflow: hidden; /* Internet Explorer 11- */
}
audio,
canvas,
progress,
video {
    display: inline-block; /* Internet Explorer 11+, Windows Phone 8.1+ */
}
[aria-busy="true"] {
    cursor: progress;
}
[aria-controls] {
    cursor: pointer;
}
[aria-disabled] {
    cursor: default;
}
::-moz-selection {
    background-color: #b3d4fc; /* Required when declaring ::selection */
    color: #000;
    text-shadow: none;
}
::selection {
    background-color: #b3d4fc; /* Required when declaring ::selection */
    color: #000;
    text-shadow: none;
}
::-moz-focus-inner {
border: 0;
}
summary {
    display: list-item; /* Add the correct display in all browsers */
}
small {
    font-size: 80%; /* Set font-size to 80% in `small` elements */
}
[hidden],
template {
    display: none; /* Add the correct display in IE */
}
abbr[title] {
    border-bottom: 1px dotted; /* Add a bordered underline effect in all browsers */
    text-decoration: none; /* Remove text decoration in Firefox 40+ */
}
