.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}

.lh-19 {
  line-height: 19px;
}

.lh-16 {
  line-height: 16px;
}

.fw-700 {
  font-weight: 700;
}

.ls-02 {
  letter-spacing: 0.2px;
}

.ls-01 {
  letter-spacing: 0.01em;
}
